html{
    overflow-x: hidden;
}
.holder{
    width:100vw;
    height:100vh;
    margin:0;
}
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-weight: bold;
  }
  
.sidebar .logo {
    width:100%;
    height:5em;
    display: flex;
    padding-top:1em;
    padding-left:.5em;
}

.sidebar .logo img{
    width:3em;
    height:3em;
}
.sidebar .logo p{
    font-size:18px;
    font-weight: bold;
    padding-top:.5em;
    padding-left:1em;
    
}
  /* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    height: 20.5em;
    padding-top:80%;
}
.sidebar i {
    padding-right: 16px;
}
  
  /* Active/current link */
.sidebar a.active {
    background-color: #676767;
    color: white;
}
  
  /* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #676767;
    color: white;
}
  


.main{
    width:auto;
    height:100%;
    margin-left: 200px;
}
.header{
    width: 100%;
    height: 10%;
    display: flex;
}
.dropdown{
    padding-top:1em;
    padding-left:5em;
    width:5em;
}
.dropdown button{
    border:solid 1px #acacac;
    width:10em;
    border-radius: 0px;
}
.dropdown button:hover{
    border:solid 1px #acacac;
}
.dropdown-menu a:hover{
  background-color: #acacac;
}

.header .icon{
    margin-left:40em;
    margin-top:.6em;
    font-size: 25px;
    display: flex;
}
.user{
    font-size: 38px;
}
.header .icon a{
    margin: 0em .4em;
    color: #676767;
}
.icon .dropdown{
  margin-left:-5em;
  margin-top:-1.2em;
  width:auto;
}
.icon .dropdown button{
  width:auto;
  border:none;
}
.icon .dropdown-menu{
  margin-left:-5em;
}
.icon .dropdown-menu a{
  width:auto;
}


/*board*/
.board{
    width:100%;
    height: 60%;
}
.board h4{
    padding-top:.2em;
    padding-left:1em;
}
.general{
  height:30%;
  width:100%;
  display: flex;
  margin-top:1em;
}
.general .item{
  height:100%;
  width:20em;
  background-color: #acacac;
  margin:0em 3em;
  padding:.5em 1em;
  border-radius: 10px;
  text-align: center;
}
.general .item:hover{
  background-color: #767676;
  color:white;
}
.general .item p{
  font-size: 18px;
}
.general .item h4{
  font-size: 40px;
  margin-left:-1em;
  margin-top:-.5em;
}
.general .item h5{
  font-size: 20px;
  margin-left:0em;
  margin-top:.5em;
}

.board-main{
  height:70%;
  width:100%;
}
#total{
    width:20%;
    text-align: center;
    padding-top:5em;
    margin-right:8em;
}

/**/
.vbar, .vbar * {
    font-family: arial, sans-serif;
    box-sizing: border-box;
  }

  /* (B3) VERTICAL */
  .vbar {
    display: flex;
    width: 90%;
    margin: 3em 1em;
    align-items: flex-end;
    height: 200px;
    background: repeating-linear-gradient(
      to bottom, #f2f2f2, #ddd 2px, #fff 2px, #fff 10%
    );
  }
   
  /* (C) EACH INDIVIDUAL BAR */
  /* (C1) SHARED */
 .vbar div {
    color: #fff;
    padding: 10px;
    width: 5.7em;
    background-color: #676767;
    margin: 0px 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
  }
  .vbar div p {
   margin-top:-2em;
   margin-left: 1.3em;
   color:#3b3b3b;
   display: none;
   margin-bottom:.5em;
   font-weight: bold;
  }
  .vbar div:hover {
    background-color: #3b3b3b;
  }
  .vbar div:hover p {
    display: flex;
  }


.customerList{
    width:100%;
    height: 50%;
    margin-top:1em;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  table tr:hover {
    background-color: #acacac;

  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
  }

  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  #buttons{
    margin-left:55em;
    margin-top:1em;
  }
  input[type="button"] {
    transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
  }
  
  input[type="button"]:not(.active) {
    background-color:transparent;
  }
  
  .active {
    background-color: #acacac;
    color :#fff;
  }
  
  input[type="button"]:hover:not(.active) {
    background-color: #ddd;
  }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }

/*popup*/


.popup {
    position: relative;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 30em;
    height:35em;
    margin-left:-50em;
    margin-top:-25em;
    background-color: rgb(230, 230, 230);
    color: #444444;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    box-shadow:0 0 0 10000px rgba(0,0,0,.50);

  }
  

  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  
  .service-info{
    display: flex;
    padding-top:.5em;
    padding-left:1em;
  }
  .service-info h5{
    margin-right:6em;
  }
  .check{
    display: flex;
    justify-content: center;
    padding-top:1em;
    padding-left:0em;
    background-color: #d2d2d2;
    margin:.5em .5em;
  }









  
  
  
